.head {

    height: 60px;
    font-size: 20px;
    background: rgba(0,0,0,0.7);
    vertical-align: middle;
    display: flex;
    font-family: "Roboto Light", sans-serif;
    justify-content: space-between;
}

ul.hr {

    margin-left: 20px;
    margin-top: -2px;
    list-style-type: none;
    align-content: center;
    padding: 4px;
    min-width: 300px;
}

ul.hr li {
    padding: 15px;
    display: inline-flex;
    color: white;
    font-weight: bolder;
    text-align: center;

}

ul.hr li:hover {
    text-decoration: underline;
}


.search{
    padding: 10px;
    position: relative;
    margin-right: 0.5rem;
    font-size: 20px;
    border: 3px solid rgba(0,0,0,0.7);
    border-radius: 15px;
    max-height: 40px;
    height: 40px;
}

.movie_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.btn {
    border: transparent;
    background: transparent;
}

.btn img{
    width: 45px;
    height: 45px;
}
.right{
    margin-top: 10px;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
}