.container{
    display: flex;
    flex-direction: row;
    margin: 2rem 5rem 2rem 5rem;
}

.container img {
    width: 400px
}

.info {
    margin-left: 5rem;
}

.general div {
    display: flex;
}
.general h3 {
    margin-right: 40px;
}

.general li {
    margin: 0;
}