.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main {
    display: flex;
    margin-right: 5rem;
    flex-direction: column;
}

.password {
    display: flex;
    align-items: center;
}

.password input {
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    border: grey solid 2px;
}
.change{
    margin-left: 1.5rem;
}

.registration_personalData{
    flex-direction: row;
    margin: 3rem;
    align-content: space-between;
    display: flex;
}
.changePassword {
    background: none;
    font-size: 16px;
    border: #000 solid 1px ;
    border-radius: 10px;
    margin-left: 15px;
    padding: 5px 10px 5px 10px;
}